<% if signed_in? %>
  <div class="row">
    <aside class="span4">
        <section><%= render 'shared/user_info' %></section>
        <h5>New Post</h5>
        <section><%= render 'shared/blog_form' %></section>
    </aside>
    <div class="span8">
      <% if @user.blogs.any? %>
        <h3> Blog Posts (<%= @user.blogs.count %>)</h3>
        <ol class="blogs">
          <%= render @blogs %>
        </ol>
        <!-- will_paginate @blogs %>-->
      <% end %>
    </div>
  </div>

<% else %>
  <div class="center hero-unit">
    <h1>SharePoint Mentors Blog</h1>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>