<% if signed_in? %>
  <div class="row">
    <aside class="span6 offset1">
        <section><%= render 'shared/user_info' %></section>
        <h5>New Post</h5>
        <section><%= render 'shared/blog_form' %></section>
    </aside>
    <div class="span5">
      <% if @user.blogs.any? %>
        <h3> Blog Posts (<%= @user.blogs.count %>)</h3>
        <ol class="blogs">
          <%= render @blogs %>
        </ol>
        <!-- will_paginate @blogs %>-->
      <% end %>
    </div>
  </div>

<% else %>
  <div class="center hero-unit">
    <h1>SharePoint Mentors Blog</h1>
    Look at what other people are talking about on their blogs. 
    <br />Create your own blog to share what you've learned.
    <br /><br />
    <%= link_to "Sign up now - It's free!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>