<p>Hi <%= @mentor.username %>,</p>

<p>You have a new SharePoint mentee:</p>

<p><b>This is their information:</b>
<br />Name: <%= @user.firstname %> <%= @user.lastname %>
<br />Username: <%= @user.username %>
<br />Email: <%= @user.email %></p>

<p>Now that you have a mentee, you should email them to set up arrangments for mentorship.</p>

<p>Check out it out on <%= link_to "SharePoint Mentors!", root_url %>

<p />Thanks,
<br />SharePoint Mentors team