<p>Hi <%= @user.username %>,</p>

<p>Thank you for registering!</p>

<p>Name: <%= @user.firstname %> <%=@user.lastname %>
<br />Email: <%= @user.email %>
<br />Username: <%= @user.username %>
</p>

<p>Visit us again soon at <%= link_to "SharePoint Mentors", root_url %>!

<p />Thanks,
<br />SharePoint Mentors team