<% provide(:title, "Topics") %>
<h1>Suggest a new topic</h1>

<%= form_for(@topic) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<table>
	<tr>
		<th>Title</th>
		<td><%= f.text_field(:title) %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= f.text_field(:description) %></td>
	</tr>
</table>
<%= f.submit "Submit Topic Suggestion", class: "btn btn-primary" %>
<% end %>

