<% provide(:title, "Topics") %>

<h1><%=@topic.title %></h1>
<div class="row-fluid">
  <div class="span8 offset2">
	<h2 class="topicShow">Description</h2>
	<div style="padding-left:5px"><%= @topic.description %></div>
	<br /><br />
	<h2 class="topicShow">Mentors for this topic</h2>

	<table style="padding-left:5px">
		<% if @mentors.any? %>
			<% @mentors.each do |mentor| %>
				<tr><td><%= link_to mentor.username, "/users/#{mentor.id}" %>, <%= mentor.loaction %></td></tr>
			<% end %>
		<% else %>
			<tr><td>N/A</td></tr>
		<% end %>
	</table>
	<br /><br />
	<%= link_to "Suggest a new topic!", "/topics/new", class: "btn btn-primary" %>
  </div>
</div>