<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, :url => {:action => "update"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= render :partial => "form", :locals => {:f => f} %>
      <% if @user.isMentor %>
        <table>
          <tr><td>Location</td></tr>
          <tr><td>
            <% if !@user.location.nil? %>
              <%= select_tag :location, options_for_select(us_states, @user.location) %>
            <% else %>
               <%= select_tag :location, options_for_select(us_states) %>
            <% end %>
          </td></tr>
        </table>
        <br />
        Continue to be a Mentor?     No <%= radio_button_tag :isMentor, false %>  Yes <%= radio_button_tag :isMentor, true, :checked => true %>
        <br /><br />
         Topics to Mentor:
         <br />
           <% for topic in @topics %>
            <%= check_box_tag "user[topic_ids][]", topic.id, @user.topics.include?(topic) %>
               <%= topic.title %>
            <br />
          <% end %>
        
      <% end %>
      <br />
      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href='http://gravatar.com/emails'>change</a>

    <br /><br /><br /><br />
    <%= link_to "Close your account..", "/users/destroy/#{@user.id}", data: {confirm: "You sure?"}, title: @user.username, style: "color:red" %>
  </div>
</div>
