<% provide(:title, @user.username) %>

<div class="row">
	<aside class="span6 offset1">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.firstname %> 
				<%= @user.lastname %>
			</h1>
			<br />
			<br /><b>Username: </b><%= @user.username %>
			<% if !@user.location.nil? %>
			<br /><b>Located:</b> <%= @user.location %>
			<% end %>
			<br />
			<% if !@user.relatedMentor.nil? %>
				<b>Mentor:</b> <%= @user.relatedMentor %>
			<% end %>
			<br />
			<% if @user.isMentor == true %>
				<b>Mentor to:</b>
				<!--show mentees -->
				<% if @mentees.any? %>
					<% @mentees.each do |mentee| %>
						<br /><%= mentee.username %>
					<% end %>
				<% else %>
					<br />None
				<% end %>

				<!--show related topics here -->
				<p /><b>Topics Mentoring in:</b>
				<% if @user.topics.any? %>
					<table>
						<% @user.topics.each do |t| %>
						<tr><td><%=t.title %></td></tr>
						<% end %>
					</table>
				<% else %>
					N/A
				<% end %>
			<% else %>
				Not a Mentor
			<% end %>
			<br /><br />
			<% if @user == current_user %>
				<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>
			<% end %>
		</section>
	</aside>
	<div class="span4">
	<% if @user.blogs.any? %>
		<h3> Blog Posts (<%= @user.blogs.count %>)</h3>
		<ol class="blogs">
			<%= render @blogs %>
		</ol>
		<%= will_paginate @blogs %>
	<% end %>
	</div>
  </div>
</div>

