<% provide(:title, @user.username) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.firstname %> 
				<%= @user.lastname %>
			</h1>
			<%= @user.location %>
		</section>
	</aside>
</div>
	<div class="span8">
		<% if @user.blogs.any? %>
			<h3> Blog Posts (<%= @user.blogs.count %>)</h3>
			<ol class="blogs">
				<%= render @blogs %>
			</ol>
			<%= will_paginate @blogs %>
		<% end %>
	</div>
</div>
