<% provide(:title, "Mentors") %>
<h1>Mentors</h1>
<% if @featured != nil %>
	<div class="hero-unit">	
		<h2 class="mentorFeatured">Featured Mentor: <%= @featured.username %></h2>
		<p />
		<b>Topics:</b> 
	 	<% if @featured.topics.any? %>
			<% @featured.topics.each do |t| %>
			<%=t.title %> : 
			<% end %>
		<% else %>
			N/A
		<% end %>
		<p />
		<%= link_to "Choose a Mentor!", "/mentors/engage", class: "btn btn-primary btn-medium" %>
	</div>	
<% end %>
<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span6">
			<div class="thumbnail">
				<h3>Find a Mentor</h3>
				<p />
				<% if @mentors.any? %>
					<% @mentors.each do |mentor| %>
						<%= link_to(mentor.username, {:controller => 'users', :action => 'show', :id => mentor.id}) %>, <%= mentor.location %>
					<br />
					<% end %>
				<% else %>
					N/A
				<% end %>
			</div>
		</li>
		<li class="span6">
			<div class="thumbnail">
				<h3>Become a Mentor</h3>
				<p>Contribute back by becoming a Mentor!</p>
				<p />
				<div style="text-align:center"><%= link_to "Become a Mentor!", "/mentors/new", class: "btn btn-primary" %></div>
			</div>
		</li>
	</ul>
</div>


