<% provide(:title, "Mentors") %>
<h1>Become a Mentor</h1>

<%= form_tag mentors_path do %>
	<%= render 'shared/error_messages', object: @user %>
	<table>
		<tr>
			<th>Location</th>
			<td><%= select_tag :location, options_for_select(us_states) %> </td>
		</tr>
		<tr>
			<th>Topics to Mentor</th>
			<td></td>
		</tr>

		<% for topic in Topic.find(:all) %>
			<tr><td><%= check_box_tag "user[topic_ids][]", topic.id, @user.topics.include?(topic) %>
				<%= topic.title %>
			</td></tr>
		<% end %>
	</table>
	<%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>

