<% provide(:title, "Mentors") %>
<h1>Become a Mentor</h1>
<div class="row">
  <div class="span8 offset2">
	<%= form_tag mentors_path do %>
	<%= render 'shared/error_messages', object: @user %>
	<b>Location</b>
	<% if !@user.location.nil? %>
      <%= select_tag :location, options_for_select(us_states, @user.location) %>
    <% else %>
       <%= select_tag :location, options_for_select(us_states) %>
    <% end %>
	<b>Topics to Mentor</b><br />
	<% if Topic.any? %>
		<% for topic in Topic.find(:all) %>
			<%= check_box_tag "user[topic_ids][]", topic.id, @user.topics.include?(topic) %>
				<%= topic.title %><br />
		<% end %>
	<% else %>
		There are no topics. <%= link_to "Suggest a new topic!", "/topics/new" %>
	<% end %>
	<br /><br />
	<%= submit_tag "Submit", class: "btn btn-primary btn-medium" %>
<% end %>
</div>
</div>
