<!DOCTYPE html>
<html>
<head>
  <title>SharePoint Mentors | <%= @page_title || 'Admin Area' %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag	"bootstrap/bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap/bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
